@import './base.css';

#app {
}

button {
  font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Noto Sans',
    'Ubuntu',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

a {
  text-decoration: none;
  color: rgb(226, 226, 226);
  transition: 0.4s;
  padding: 3px;
}
